MyFamilyLodge/Service References/AdminService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeactiveLodge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lodgeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactiveLodgeResponse">
        <s:complexType />
      </s:element>
      <s:element name="ActiveLodge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lodgeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveLodgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActiveLodgeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeactiveLodgeSoapIn">
    <wsdl:part name="parameters" element="tns:DeactiveLodge" />
  </wsdl:message>
  <wsdl:message name="DeactiveLodgeSoapOut">
    <wsdl:part name="parameters" element="tns:DeactiveLodgeResponse" />
  </wsdl:message>
  <wsdl:message name="ActiveLodgeSoapIn">
    <wsdl:part name="parameters" element="tns:ActiveLodge" />
  </wsdl:message>
  <wsdl:message name="ActiveLodgeSoapOut">
    <wsdl:part name="parameters" element="tns:ActiveLodgeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="DeactiveLodge">
      <wsdl:input message="tns:DeactiveLodgeSoapIn" />
      <wsdl:output message="tns:DeactiveLodgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActiveLodge">
      <wsdl:input message="tns:ActiveLodgeSoapIn" />
      <wsdl:output message="tns:ActiveLodgeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeactiveLodge">
      <soap:operation soapAction="http://tempuri.org/DeactiveLodge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveLodge">
      <soap:operation soapAction="http://tempuri.org/ActiveLodge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeactiveLodge">
      <soap12:operation soapAction="http://tempuri.org/DeactiveLodge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveLodge">
      <soap12:operation soapAction="http://tempuri.org/ActiveLodge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://testing.admin.xunnlv.com/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://testing.admin.xunnlv.com/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>