MasonryGallery/Service References/MFLMirrorServices/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://MirrorServices.MFL/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://MirrorServices.MFL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MirrorServices.MFL/">
      <s:element name="TryAccessCache">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dayHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="secret" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="validation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TryAccessCacheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TryAccessCacheResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Expires">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dayHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpiresResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TryAccessCacheSoapIn">
    <wsdl:part name="parameters" element="tns:TryAccessCache" />
  </wsdl:message>
  <wsdl:message name="TryAccessCacheSoapOut">
    <wsdl:part name="parameters" element="tns:TryAccessCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ExpiresSoapIn">
    <wsdl:part name="parameters" element="tns:Expires" />
  </wsdl:message>
  <wsdl:message name="ExpiresSoapOut">
    <wsdl:part name="parameters" element="tns:ExpiresResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicesSoap">
    <wsdl:operation name="TryAccessCache">
      <wsdl:input message="tns:TryAccessCacheSoapIn" />
      <wsdl:output message="tns:TryAccessCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Expires">
      <wsdl:input message="tns:ExpiresSoapIn" />
      <wsdl:output message="tns:ExpiresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicesSoap" type="tns:WebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryAccessCache">
      <soap:operation soapAction="http://MirrorServices.MFL/TryAccessCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Expires">
      <soap:operation soapAction="http://MirrorServices.MFL/Expires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicesSoap12" type="tns:WebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryAccessCache">
      <soap12:operation soapAction="http://MirrorServices.MFL/TryAccessCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Expires">
      <soap12:operation soapAction="http://MirrorServices.MFL/Expires" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServices">
    <wsdl:port name="WebServicesSoap" binding="tns:WebServicesSoap">
      <soap:address location="http://tangzx.cl14.53dns.net/WebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicesSoap12" binding="tns:WebServicesSoap12">
      <soap12:address location="http://tangzx.cl14.53dns.net/WebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>